@model BMDb.MVC.Models.PaginationViewModel<BMDb.MVC.Models.MovieViewModel>

@{
    ViewBag.Title = "Database of all movies";
    Layout = "_Layout";
}

<h2 style="text-align: center">Database of all movies</h2>

<table class="table table-bordered">
    <thead>
    <tr class="table-primary">
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Genre</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td class="table-secondary">@item.Title</td>
            <td class="table-success">@item.Year</td>
            <td class="table-danger">@item.Director</td>
            <td class="table-light">@item.Genre</td>
            <td class="table-success">
                <a asp-controller="Editor" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success form-control" id="cool-button-edit">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.HasPreviousPage)
{
    <a asp-action="MovieDatabase" asp-route-page="@(Model.Page - 1)" class="btn btn-outline-primary">Previous</a>
}

@if (Model.HasNextPage)
{
    <a asp-action="MovieDatabase" asp-route-page="@(Model.Page + 1)" class="btn btn-outline-primary">Next</a>
}