@* @page "/fetchdata" *@
@* @page "/fetchdata/{PageNumber:int}" *@
@* @using BMDb.BlazorApp.Models *@
@* @using BMDb.BlazorApp.Models.Pagination *@
@* @using BMDb.BlazorApp.Services *@
@* @inject IAsyncMovieService MovieService *@
@* <h3>MovieList</h3> *@
@* *@
@* *@
@* @if (_movies == null) *@
@* { *@
@*     <p>Loading...</p> *@
@* } *@
@* else *@
@* { *@
@*     <table class="table"> *@
@*         <thead> *@
@*         <tr> *@
@*             <th>Id</th> *@
@*             <th>Title</th> *@
@*             <th>Director</th> *@
@*             <th>Genre</th> *@
@*             <th>Year</th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*         @foreach (var item in _movies!) *@
@*         { *@
@*             <tr> *@
@*                 <td>@item.Id</td> *@
@*                 <td>@item.Title</td> *@
@*                 <td>@item.Director</td> *@
@*                 <td>@item.Genre</td> *@
@*                 <td>@item.Year</td> *@
@*             </tr> *@
@*         } *@
@*         </tbody> *@
@*     </table> *@
@* *@
@*     <div> *@
@*         @for (int i = 1; i <= 5; i++) *@
@*         { *@
@*             <span><a href="fetchdata/@i"> @i </a>|</span> *@
@*         } *@
@*     </div> *@
@* } *@
@* *@
@* @code { *@
@*     // MovieModel[] movies; *@
@*     private List<MovieModel> _movies; *@
@* *@
@*     [Parameter] *@
@*     public int PageNumber { get; set; } *@
@* *@
@*     protected override async Task OnParametersSetAsync() *@
@*     { *@
@*         if (PageNumber < 1) PageNumber = 1; *@
@* *@
@*         _movies = await MovieService.GetPagedMoviesAsync(PageNumber - 1, 10); *@
@*     } *@
@*      *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         await OnParametersSetAsync(); *@
@*     } *@
@* *@
@* } *@