@page "/"
@using BMDb.BlazorApp.Models
@using BMDb.BlazorApp.Services
@inject IAsyncMovieService MovieService

<PageTitle>BMDb</PageTitle>

@if (_movies == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <form>
        <div class="container pt-5">
            <div class="row">
                @foreach (var item in _movies)
                {
                    <div class="col-md-4 mb-4">
                        @if (!string.IsNullOrEmpty(item.Title))
                        {
                            <img src="@item.Poster" class="card-img-top" alt="@item.Title Poster">
                        }

                        <div class="card-body">
                            <h5>
                                @item.Title
                            </h5>
                            <p class="card-text">
                                <b>@item.Year</b>
                                <b>@item.Director</b>
                            </p>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div>
            <input type="button" class="btn-lg btn" id="prev" onclick="@GetPreviousPage()" value="Previous"/>
            <input type="button" class="btn-lg btn" id="next" onclick="@GetNextPage()" value="Next"/>
        </div>
    </form>
}

@code {
    private List<MovieModel>? _movies;
    private int _currentPage = 1;

    protected override async Task OnInitializedAsync()
    {
        await IndexAsync();
    }

    private async Task GetNextPage()
    {
        _currentPage++;
        await IndexAsync();
    }

    private async Task GetPreviousPage()
    {
        if (_currentPage > 1)
        {
            _currentPage--;
            await IndexAsync();
        }
    }

    private async Task IndexAsync()
    {
        _movies = await MovieService.GetMoviesAsync(_currentPage);
    }

}