@using BMDb.MVC.Data.Roles
@model BMDb.MVC.Models.PaginationViewModel<BMDb.MVC.Models.MovieViewModel>

@{
    ViewBag.Title = "Movies";
    Layout = "_Layout";
}

@* <a asp-controller="Movie" asp-action="MoviesPdf">
    Download PDF
</a> *@

<div class="container pt-5">
    <div class="row">
        @if (Model.Items.Any())
        {
            @foreach (var item in Model.Items)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="@Url.Action("Details", "Movie", new { id = item.Id })">
                            @if (!string.IsNullOrEmpty(item.Title))
                            {
                                <img src="@item.Poster" class="card-img-top" alt="@item.Title Poster">
                            }
                        </a>
                        <div class="card-body">
                            <h3 class="card-title text-success">@item.Title</h3>
                            <p class="card-text">
                                <strong>Year:</strong> @item.Year<br>
                                <strong>Genre:</strong> @item.Genre<br>
                                <strong>Director:</strong> @item.Director <br>
                                <strong>IMDb Id:</strong> @item.ImdbId <br>
                            </p>
                            <div class="row mt-3">
                                <div class="col">
                                    @if (User.IsInRole(Roles.Admin))
                                    {
                                        <a asp-controller="Editor" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success form-control" id="cool-button-edit">Edit</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <img src="~/img/error.png" class="img-fluid" alt="No movies found">
            </div>
        }
    </div>
</div>
@if (Model.HasPreviousPage)
{
    <a asp-action="Index" asp-route-page="@(Model.Page - 1)" class="btn btn-outline-primary">Previous</a>
}
@if (Model.HasNextPage)
{
    <a asp-action="Index" asp-route-page="@(Model.Page + 1)" class="btn btn-outline-primary">Next</a>
}